<div class="header">
  <h1>Partidos de la categoría: {{category?.name}}</h1>
  
  <button *ngIf="!tournamentMatch?._id && !isTournamentMatchLoading" mat-raised-button color="primary" [disabled]="isSubmitMatchesDisabled()" (click)="handleSubmitMatches()">Generar partidos</button>
</div>

<div class="tournament-tree">
  <div id="ready-to-play" cdkDropList
  #readyToPlay="cdkDropList"
  [cdkDropListData]="teamsReadyToPlay"
  [cdkDropListConnectedTo]="[selected]" class="teams-to-drag-and-drop"
  [ngClass]="{'teams-to-drag-and-drop-hidden': isTournamentMatchLoading || tournamentMatch?._id}" (cdkDropListDropped)="drop($event)">
    <app-team-card *ngFor="let team of teamsReadyToPlay" [teamId]="team._id" [name]="team.name" [logo]="team.teamLogo" cdkDrag></app-team-card>
  </div>
  
  <div id="selected" cdkDropList
    #selected="cdkDropList"
    [cdkDropListData]="selectedTeams"
    [cdkDropListConnectedTo]="[readyToPlay]" class="teams-to-drag-and-drop"
    [ngClass]="{'teams-to-drag-and-drop-hidden': isTournamentMatchLoading || tournamentMatch?._id}" (cdkDropListDropped)="drop($event)">
      <app-team-card *ngFor="let team of selectedTeams" [teamId]="team._id" [name]="team.name" [logo]="team.teamLogo" [hasOpponent]="true" [opponent]="team.opponent ?? ''" cdkDrag></app-team-card>
  </div>

  <div *ngIf="tournamentMatch?.top16" class="matches">
    <div class="overlay">
      <button mat-raised-button color="primary">Ver octavos</button>
    </div>
    <div class="matches-content">
      <div *ngFor="let match of tournamentMatch?.top16?.matches" class="matches-content-teams">
        <img [src]="match[0].teamLogo" alt="Logo of {{match[0].name}} team" />
        <p>VS</p>
        <img [src]="match[1].teamLogo" alt="Logo of {{match[0].name}} team" />
      </div>
    </div>
  </div>

  <div *ngIf="tournamentMatch?.quartersFinal" class="matches">
    <div class="overlay">
      <button mat-raised-button color="primary">Ver cuartos</button>
    </div>
    <div class="matches-content">
      <div *ngFor="let match of tournamentMatch?.quartersFinal?.matches" class="matches-content-teams">
        <img [src]="match[0].teamLogo" alt="Logo of {{match[0].name}} team" />
        <p>VS</p>
        <img [src]="match[1].teamLogo" alt="Logo of {{match[0].name}} team" />
      </div>
    </div>
  </div>

  <div *ngIf="tournamentMatch?.semiFinal" class="matches">
    <div class="overlay">
      <button mat-raised-button color="primary">Ver semi-final</button>
    </div>
    <div class="matches-content">
      <div *ngFor="let match of tournamentMatch?.semiFinal?.matches" class="matches-content-teams">
        <img [src]="match[0].teamLogo" alt="Logo of {{match[0].name}} team" />
        <p>VS</p>
        <img [src]="match[1].teamLogo" alt="Logo of {{match[0].name}} team" />
      </div>
    </div>
  </div>

  <div *ngIf="tournamentMatch?.final" class="matches">
    <div class="overlay">
      <button mat-raised-button color="primary">Ver gran final</button>
    </div>
    <div class="matches-content">
      <div *ngFor="let match of tournamentMatch?.final?.matches" class="matches-content-teams">
        <img [src]="match[0].teamLogo" alt="Logo of {{match[0].name}} team" />
        <p>VS</p>
        <img [src]="match[1].teamLogo" alt="Logo of {{match[0].name}} team" />
      </div>
    </div>
  </div>
</div>