
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$deportivos-football-uas-primary: mat.define-palette(mat.$indigo-palette);
$deportivos-football-uas-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$deportivos-football-uas-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$deportivos-football-uas-theme: mat.define-light-theme((
  color: (
    primary: $deportivos-football-uas-primary,
    accent: $deportivos-football-uas-accent,
    warn: $deportivos-football-uas-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($deportivos-football-uas-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-typography h1 {
  color: rgba(38, 39, 43, 0.75);
  font-size: 2rem;
  font-weight: 500;
  line-height: 38px;
  margin: 0px;
}

.mat-raised-button.mat-primary {
  background-color:#0A90EF;
}
.mat-stroked-button.mat-primary {
  color:#0A90EF;
  border: 1px solid #0A90EF;
}

.mat-standard-chip {
  cursor: pointer !important;
}
.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: #0A90EF;
  color: #ffffff;
}

.snack-bar-success {
  background-color: #10B981;
  color: #ffffff;

  & .mat-button-wrapper {
    color: #ffffff;
  }
}

@media (max-width: 767px) {
  .mat-typography h1 {
    font-size: 1.5rem;
  }
}
